*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
}

@font-face {
    font-family: 'Roobert';
    src: url('../assets/fonts/Roobert-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url('../assets/fonts/Rebond Grotesque Extrabold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(17, 89, 205);
}

.body {
    background-color: #ebf6f7;
}

.bold {
    font-weight: bold;
}

.download-button {
    background-color: #232424;
    width: auto;
    color: white;
    text-decoration: none;
    display: none; /* Hide the download button on mobile */
}

.download-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    color: rgb(0, 0, 0);
}

.download-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.navbar {
    background-color: transparent;
    padding: 0;
}

.navbar-toggler {
    margin-left: auto;  
}

.navbar-nav {
    padding: 0.5rem 0; 
}

.nav-link {
    margin-right: 10px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.profile-img1 {
    border-radius: 10px;
}

.profile-img2 {
    width: auto;
    height: 65vh;
    border-radius: 10px;
}

.logo-img {
    height: 10vh;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: transparent; 
    display: block; 
}

.title {
    font-family: Roobert;
    font-style: normal;
    font-size: 3rem;
    background-color: #a1d7c4;
    color: white;
    border-radius: 15px;
}

.title2 {
    font-family: Rebond Grotesque;
    font-style: normal;
    font-size: 4rem;
}

.title3 {
    font-family: Rebond Grotesque;
    font-style: normal;
    font-size: 3rem;
}

.text {
    font-family: Roobert;
    font-size: 2rem;
}

.text2 {
    font-family: Roobert;
    font-size: 1rem;
}

.highlight-light-blue {
    background-color: rgb(182, 242, 222);
}

.highlight-light-pink {
    background-color: pink;
}

.highlight-light-purple {
    background-color: rgb(199, 143, 233);
}

.highlight-light-orange {
    background-color: rgb(241, 182, 110);
}

.highlight-light-yellow {
    background-color: rgb(241, 221, 110);
}

.box1 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.card-1 {
    background-color: aliceblue;
    border-radius: 15px;
    
}

.nav-text {
    font-family: Roobert;
    font-size: 1.5rem;
}

.form-label {
    background-color: #a1d7c4;
    border-radius: 20px;
    padding: 7px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-button {
    background-color: #a1d7c4;
    
}

.contact-button:hover {
    background-color: #6ba490;
    color: white;
}

/* Media queries for tablets and desktops */
@media (min-width: 768px) {
    .download-button {
        display: inline-block; /* Only show the download button on larger screens */
    }

    .navbar-toggler {
        margin-right: 1rem;  /* Adjusts right margin on mobile for symmetry */
    }

}
